.blue {
  background: #778beb !important;
}

.orange {
  background: #e77f67 !important;
}

.red {
  background: #cf6a87 !important;
}

.orange-soft {
  background: #f3a683 !important;
}

.yellow {
  background: #f5cd79 !important;
}

.blue-light {
  background: #63cdda !important;
}

.red-soft {
  background: #ea8685 !important;
}

.pink {
  background: #f8a5c2 !important;
}

.black {
  background: #596275 !important;
}
