@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
  font-family: "GothamRnd-Book";
  font-style: normal;
  font-weight: normal;
  src: local("GothamRnd-Book"),
    url("./fonts/gotham/GothamRnd-Book.otf") format("opentype");
}

@font-face {
  font-family: "GothamRnd-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("GothamRnd-Medium"),
    url("./fonts/gotham/GothamRnd-Medium.otf") format("opentype");
}

@font-face {
  font-family: "GothamRnd-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("GothamRnd-Bold"),
    url("./fonts/gotham/GothamRnd-Bold.otf") format("opentype");
}

body {
  /* background: #f8f8f8; */
}

.bottom-right {
  bottom: 0 !important;
  right: 0 !important;
  padding: 50px;
}
.bottom-left {
  bottom: 0 !important;
  left: 0 !important;
  padding: 50px;
}
.top-right {
  top: 0 !important;
  right: 0 !important;
  padding: 50px;
}
.top-left {
  top: 0 !important;
  left: 0 !important;
  padding: 50px;
}
.middle-left {
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  padding: 50px;
}
.middle-right {
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  padding: 50px;
}
.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
}
.bottom {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 50px;
}
.top {
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 50px;
}

.shadow {
  -webkit-box-shadow: 0 2px 43px -4px rgba(0,0,0,.19);
  box-shadow: 0 2px 43px -4px rgba(0,0,0,.19);
}

.blue {
  background: #778beb !important;
}
.orange {
  background: #e77f67 !important;
}
.red {
  background: #cf6a87 !important;
}
.orange-soft {
  background: #f3a683 !important;
}
.yellow {
  background: #f5cd79 !important;
}
.blue-light {
  background: #63cdda !important;
}
.red-soft {
  background: #ea8685 !important;
}
.pink {
  background: #f8a5c2 !important;
}
.black {
  background: #596275 !important;
}
.item {
  cursor: pointer;
}
.item:active {
  transform: translateY(4px);
}