@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  background: #f8f8f8;
}

.bottom-right {
  bottom: 0 !important;
  right: 0 !important;
  padding: 50px;
}
.bottom-left {
  bottom: 0 !important;
  left: 0 !important;
  padding: 50px;
}
.top-right {
  top: 0 !important;
  right: 0 !important;
  padding: 50px;
}
.top-right {
  top: 0 !important;
  right: 0 !important;
  padding: 50px;
}

.shadow {
  -webkit-box-shadow: 0 2px 43px -4px rgba(0,0,0,.19);
  box-shadow: 0 2px 43px -4px rgba(0,0,0,.19);
}